<div class="app">
  <div class="cabecera">
    <ion-header>
      <ion-toolbar>
        <ion-title> <p  class="per">Perfil</p> </ion-title>
      </ion-toolbar>
    </ion-header>
    
  </div>

  <div class="frame-19">
    <div class="frame-21">
      <svg class="ri-account-circle-line" width="147" height="125" viewBox="0 0 147 125" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- ... Contenido del SVG ... -->
      </svg>
      <div class="usuario">USUARIO</div>
    </div>
    <div class="frame-23">
      <div class="rectangle-5"></div>
      <div class="info">
        <div class="correo">Correo: melanypp07@gmail.com</div>
        <div class="contrasena">Contraseña: *********<br /></div>
        <div class="fecha">Fecha de inicio: 15/03/2013</div>
        <div class="idioma">Idioma: Español</div>
        <div class="pais">País: Ecuador</div>
      </div>
    </div>
    <svg class="arcticons-qq-music" width="148" height="147" viewBox="0 0 148 147" fill="none" xmlns="http://www.w3.org/2000/svg">
      <!-- ... Contenido del segundo SVG ... -->
    </svg>
  </div>
  
  
    
    
</div>





