.img1{
  top:100px;
  left: 200px;
}
ion-card {
  background-color: antiquewhite;
  --color: rgb(17, 17, 17);
  top: 20px;
}

ion-card-title {
  --color: rgb(17, 17, 17);
}

ion-card-subtitle {
  --color:rgb(17, 17, 17);
}

