<div class="frame-7">
  <ion-item href="#">
    <ion-label><img class="imgicon" src="https://i.pinimg.com/originals/0e/44/1f/0e441fdbb002d7e7f60a69bd43dd95fe.png"></ion-label>
  </ion-item>

  <div class="bibliotecas">BIBLIOTECAS</div>
  <div class="clarity-home-solid">
    <svg class="vector4" width="44" height="57"></svg>
  </div>
</div>


<div class="frame-16">
  <div class="album1">
    <img class="frame" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnA9b5L6ff1mjIe2rbJ4adN3hCJvZqk1xLQBR9ueR66doAoiof5_SHWwlj-P2wGOt_-ho&usqp=CAU" />
    <div class="album-description">
      <div class="genre">Salsa</div>
    </div>
  </div>
  <div class="album2">
    <img class="frame" src="https://i.pinimg.com/originals/a9/c1/36/a9c1367fd815d23f65a3c3c57697fe64.jpg"  />
    <div class="album-description">
      <div class="genre">K-Pop</div>
    </div>
  </div>

  <div class="album3">
    <img class= "frame" src="https://www.shutterstock.com/image-vector/punk-rock-logographics-inscription-black-600w-285069101.jpg" />
    <div class="album-description">
      <div class="genre">Punk</div>
    </div>
  </div>

  <div class="album4">
    <img class="frame" src="https://img.freepik.com/premium-vector/pop-music-vintage-3d-vector-lettering-retro-bold-font-typeface-pop-art-stylized-text-old-school-style-neon-light-letters-90s-80s-poster-banner-dark-violet-color-background_106317-15192.jpg" />
    <div class="album-description">
      <ion-item href="#">
        <ion-label>Pop</ion-label>
      </ion-item>
    </div>
  </div>

  <div class="album5">
    <img class="frame" src="https://geo-media.beatsource.com/image_size/1400x1400/f/1/6/f163ddf3-6c17-471c-94c5-2c642fc8db97.jpg"  />
    <div class="album-description">
      <div class="genre">Bachatas</div>
    </div>
  </div>

  <div class="album6">
    <img class="frame" src="https://i.scdn.co/image/ab67706c0000da8428b9288398c47498847be403" />
    <div class="album-description">
      <div class="genre">Reggaeton</div>
    </div>
  </div>

</div>




