<div class="b-nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Mis Canciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="fondo3">
    <ion-item>
      <ion-label>Sweat de Inner Circle</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Unchained Melody de Righteous Brothers</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>What a Feeling de Flashdance</ion-label>
    </ion-item>
    <ion-item href="#">
      <ion-label>Bugambilia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gangsta Paradise de Coolio</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Stayin Alive de Bee Gees</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ciega, Sordomuda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cactus </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Corazon</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>La Vaguelette</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Enamorado tuyo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rosas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Error tras error</ion-label>
    </ion-item>
  </ion-list>
</div>



